@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(257deg, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 2.5em;
  gap: 1em;
  color: white;
}

.header__logo {
  max-width: 7.5em;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3em;
}
.section__head {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__illustration {
  width: min(100%, 32em);
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}
.section__header {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  text-align: center;
}
.section__paragraph {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  padding-inline: 0.5em;
  text-align: center;
}
.section__button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6875rem;
  color: hsl(257deg, 40%, 49%);
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 1.5rem;
  padding: 0.5rem 4.6875rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition-property: color, background-color, -webkit-transform;
  transition-property: color, background-color, -webkit-transform;
  transition-property: color, background-color, transform;
  transition-property: color, background-color, transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.section__button:hover {
  color: white;
  background-color: hsl(300deg, 69%, 71%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 0.5em;
}
.footer__socials-a {
  display: grid;
  place-content: center;
  border: 1px solid white;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.footer__socials-a:hover {
  -webkit-filter: invert(62%) sepia(70%) saturate(4504%) hue-rotate(293deg) brightness(100%) contrast(103%);
          filter: invert(62%) sepia(70%) saturate(4504%) hue-rotate(293deg) brightness(100%) contrast(103%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__socials-icon {
  padding: 0.375rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

@media screen and (min-width: 64em) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
    padding-left: 4.75em;
    padding-right: 4.75em;
  }

  .header__logo {
    max-width: 12.5rem;
  }

  .section {
    margin-bottom: 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section__illustration {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 2.5rem;
    display: block;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section__body {
    margin-top: 0.5rem;
    margin-bottom: 3em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .section__header {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    text-align: left;
  }
  .section__paragraph {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6875rem;
    text-align: left;
  }
  .section__button {
    padding: 0.75rem 4rem;
  }

  .footer__socials {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 2em;
  }
  .footer__socials-item {
    -webkit-transform: scale(1.48);
            transform: scale(1.48);
    position: relative;
    bottom: 1rem;
  }
}
@media (min-width: 41.25em) and (max-width: 82.75em) {
  body {
    background-size: cover;
  }
}
@media (min-width: 23.6875em) and (max-width: 41.25em) {
  body {
    background-size: cover;
  }
}
@media screen and (min-width: 100em) {
  html {
    font-size: clamp(1rem, 1rem + 0.25vw, 2rem);
  }

  .section__illustration {
    width: 40vw;
  }
}